@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #fefcf3; */
  /* background-color: #f7f5eb; */
  background-color: #fffbe9;
  color: #4f4d4d;
}

.fixed-height {
  height: inherit;
  max-height: inherit;
  margin: auto;
  /* width: inherit; */
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
